/*CONSECIONARIAS */



.titulo2 {

    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #052858;
    text-align: center;
    padding:20px;
}

/*carousel*/

.carousel {
    height: 100%;
    width: 100%;
    padding: 20px;
   
}

.banner {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #052858;
}

.button {
    display: inline-block;
    background-color: gray;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
}

.mapaConsecionaria {
    width: 100px;
    height: 100px;
}