/* main */

main {
    margin: 20px;
    padding: 30px;
}

.descripcionP {
    font-size: 20px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;

}

.tituloH3 {
    text-decoration: none;
    text-transform: uppercase;
    color: #052858;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
}

.tituloPrincipal {
    text-align: center;
    margin: 20px;
    padding: auto;
    text-decoration: underline;
}