/* SERVICIOS*/



.tituloServicios {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #052858;
    text-align: center;
    padding:20px;
}

/* IFRAME */

iframe {
    width: 100%;
    height: 800px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* FORMULARIO */

form {
    margin-top: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    border-radius: 10px;
    display: list-item;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 2px;
}